<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <a href='/subjects/add'>Add Subject</a>
      <br>
      <br>
      <table style="width:100%">
        <tr>
        <% heads.forEach(head => {%>
          <th>
            <%= head %>
          </th>
          <%})%>
          <th>
            Option
          </th>
        </tr>
        <% subjects.forEach(subject => {%>
          <tr>
            <td>
              <%= subject.id %>
            </td>
            <td>
              <%= subject.subject_name %>
            </td>
            <td>
              <a href='/subjects/edit/<%= subject.id %>'>edit</a> |
              <a href='/subjects/delete/<%= subject.id %>' onclick="return confirm('delete this teacher?')">delete</a>
            </td>
          </tr>
          <%})%>
      </table>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>