<!DOCTYPE html>
<html>
<head>
    <title>Teacher Page</title>
</head>
<body>
    <h1 style="text-align: center">Teacher page</h1>
    <div style="text-align:center">
        <a href="/teachers/add">add teacher</a>
    </div>
    <table style="width:100%">
        <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th> 
            <th>Email</th>
            <th>Subject</th>
            <th>Options</th>
        </tr>
        <% for(let index=0; index<teacherData.length; index++){ %>
            <tr>
                <th><%= teacherData[index].id%></th>
                <th><%= teacherData[index].first_name%></th>
                <th><%= teacherData[index].last_name%></th> 
                <th><%= teacherData[index].email%></th>
                <th>
                    <% if(teacherData[index].SubjectId == undefined){%>
                        unassigned
                    <%}else{%>
                        <%= teacherData[index].Subject.subject_name%>
                    <%}%>
                </th>
                <th><a href="/teachers/edit/<%=teacherData[index].id%>">edit</a> | <a href="/teachers/deleteTeacher?id=<%=teacherData[index].id%>">delete</a></th>
            </tr>
        <%}%>
    </table>
</body>
</html>