<html>
  <head>
    <title>Teachers Data</title>
  </head>
  <body>
    <h1 align="center">Teachers Data</h1>
    <div style="text-align:center">
      <a href="/teachers/add">add teacher</a> || <a href="/">home</a>
    </div>
    <table border="1">
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Options</th>
      </tr>
      <% teachers.forEach(teacher => { %>
        <tr>
          <th> <%= teacher.id %> </th>
          <th> <%= teacher.first_name %> </th>
          <th> <%= teacher.last_name %> </th>
          <th> <%= teacher.email %> </th>
          <th> <%= teacher.subject %> </th>
          <th> <a href="/teachers/edit/<%=teacher.id%>">Edit</a> | <a href="/teachers/delete/<%=teacher.id%>" onclick="return confirm('Delete this teacher?')">Delete</a></th>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
