<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/css.table.ejs')  %>
  </head>
  <body>

    <h2>Data subjects</h2>
    <h4><a href="/">Home</a></h4>
    <h4><a href="/subjects/add">Add Subject</a></h4>

    <%if(condition){%>
        <div>
          <h1>
            <%= message%>
          </h1>
        </div>
      <%}
    %>

    <table>
      <tr>
        <th>id</th>
        <th>Subject Name</th>
        <th>Teachers</th>
        <th>Options</th>
      </tr>
        <%
          data_subjects.forEach(function(subject){%>
          <tr>
            <td><%= subject.id%></td>
            <td><%= subject.subject_name%></td>
            <td><%= subject.Teachers.map(t => " " + t.first_name + " " + t.last_name) %></td>
            <td><a href="/subjects/edit/<%= subject.id%>">edit</a> | <a href="/subjects/delete/<%= subject.id%>" onclick="return confirm('Are you sure want delete this subject?')">delete</a></td>
          </tr>
          <%})
        %>
    </table>

  </body>
</html>
