<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <a href='/students/add'>Add Student</a>
      <br>
      <br>
      <table style="width:100%">
        <tr>
        <% heads.forEach(head => {%>
          <th>
            <%= head %>
          </th>
          <%})%>
          <th>
            Option
          </th>
        </tr>
        <% students.forEach(student => {%>
          <tr>
            <td>
              <%= student.id %>
            </td>
            <td>
              <%= student.first_name %>
            </td>
            <td>
              <%= student.last_name %>
            </td>
            <td>
              <%= student.email %>
            </td>
            <td>
              <a href='/students/edit/<%= student.id %>'>edit</a> |
              <a href='/students/delete/<%= student.id %>' onclick="return confirm('delete this student?')">delete</a>
            </td>
          </tr>
          <%})%>
      </table>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>